main {
    cursor: default;
    background-image: url(http://www.radionetplus.ru/uploads/posts/2015-12/1449955981_0_ef2d3_cc679298_orig.jpg);
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: 100%;
    background-attachment: fixed;
    header {
        margin: 0 auto;
        min-width: 320px;
        max-width: 1020px;
        background-color: rgba(111, 84, 63, 0.7);
        border-radius: 15px;
        margin-bottom: 20px;
        padding-right: 15px;
        .container_header {
            margin: 0 auto;
            min-width: 320px;
            max-width: 1020px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {
                height: 150px;
            }
            h1 {
                color: wheat;
                padding: 8px;
                background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
            }
        }
    }
    .container {
        margin: 0 auto;
        min-width: 320px;
        max-width: 1020px;
        .biography {
            background-color: rgba(111, 84, 63, 0.7);
            border-radius: 15px;
            padding: 15px;
            font-size: 40px;
            h2 {
                text-align: center;
                color: wheat;
                padding: 8px;
                // background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
                letter-spacing: 2px;
            }
            p {
                color: wheat;
                border: 1px solid darkred;
                line-height: 50px;
                padding: 10px;
                border-radius: 15px;
            }
        }
        .education {
            background-color: rgba(111, 84, 63, 0.7);
            border-radius: 15px;
            padding: 15px;
            font-size: 40px;
            margin-top: 20px;
            h2 {
                text-align: center;
                color: wheat;
                padding: 8px;
                // background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
                letter-spacing: 2px;
            }
            li {
                color: wheat;
                border: 1px solid darkred;
                line-height: 50px;
                padding: 50px;
                margin-top: 20px;
                border-radius: 15px;
            }
        }
        .experience {
            background-color: rgba(111, 84, 63, 0.7);
            border-radius: 15px;
            padding: 15px;
            font-size: 40px;
            margin-top: 20px;
            padding-bottom: 60px;
            h2 {
                text-align: center;
                color: wheat;
                padding: 8px;
                // background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
                letter-spacing: 2px;
            }
            span {
                text-align: center;
                color: wheat;
                border: 1px solid darkred;
                line-height: 50px;
                padding: 10px;
                border-radius: 15px;
            }
        }
        .skills {
            background-color: rgba(111, 84, 63, 0.7);
            border-radius: 15px;
            padding: 15px;
            font-size: 40px;
            margin-top: 20px;
            h2 {
                text-align: center;
                color: wheat;
                padding: 8px;
                // background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
                letter-spacing: 2px;
            }
            .computer {
                text-align: center;
                color: wheat;
                border: 1px solid darkred;
                line-height: 50px;
                padding: 10px;
                border-radius: 15px;
                ol {
                    text-align: start;
                    & :nth-child(even) {
                        color: darkred;
                    }
                }
                .user {
                    color: darkred;
                    list-style-type: none;
                }
            }
        }
        .lenguage {
            background-color: rgba(111, 84, 63, 0.7);
            border-radius: 15px;
            padding: 15px;
            font-size: 40px;
            margin-top: 20px;
            h3 {
                text-align: center;
                color: wheat;
                padding: 8px;
                // background-color: green;
                font-size: 62px;
                border-radius: 15px;
                border: 2px solid red;
                letter-spacing: 2px;
            }
            li {
                text-align: center;
                color: wheat;
                border: 1px solid darkred;
                line-height: 50px;
                padding: 10px;
                border-radius: 15px;
            }
        }
    }
    footer {
        background-color: rgba(111, 84, 63, 0.7);
        border-radius: 15px;
        padding: 15px;
        font-size: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        color: wheat;
        img {
            width: 50px;
            padding-left: 15px;
        }
        .phone {
            padding: 10px;
            padding-left: 10px;
        }
        .copyr {
            color: darkred;
        }
    }
}